# CMake
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# CMake build
build/

# macOS
.DS_Store

# Windows
Thumbs.db
Thumbs.db:encryptable
[Dd]esktop.ini
*.lnk

# VS Code
.vscode/*
.history/
*.vsix

# Other
.local/